.clients-title{
    text-align: center;
    margin-bottom: 50px;
}
.clients{
    @include centeredFlex(flex);
    gap: 30px;
}

.client-link{
    @include centeredFlex(flex);
    width: 170px;
    height: 90px;
    background-color: var(--third-color);  
    border: 1px solid var(--icons-color); 
    border-radius: 4px;
    cursor: pointer;
    transition: border-color var(--timing-function);

    &:hover,
    &:focus{
    border-color: var(--second-color);
    }

    &:focus .icon-client,
    &:hover .icon-client{
    fill: var(--second-color);
    }
}

.icon-client{
    fill: var(--icons-color);
    transition: fill var(--timing-function);
}
