.clients-title{
    text-align: center;
    margin-bottom: 50px;
}

.clients{
    @include centeredFlex(flex);
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
        margin: -30px;
    }
}

.client{
    margin-bottom: 30px;
    flex-basis: calc((100% - 30px) / 2);
    

    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 160px) / 6); 
        margin: 0%;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

.client-link{
    @include centeredFlex(flex);
    width: 170px;
    height: 90px;
    background-color: var(--third-color);  
    border: 1px solid var(--icons-color); 
    border-radius: 4px;
    cursor: pointer;
    transition: border-color var(--timing-function);

    &:hover,
    &:focus{
    border-color: var(--second-color);
    }

    &:focus .icon-client,
    &:hover .icon-client{
    fill: var(--second-color);
    }
}

.icon-client{
    fill: var(--icons-color);
    transition: fill var(--timing-function);
}
