.clients-title{
    text-align: center;
    margin-bottom: 50px;
}

.clients{
    @include centeredFlex(flex);
    flex-wrap: wrap;

    @media screen and (min-width: 768px){
        margin: -15px;
    }

    @media screen and (min-width: 1200px){
    }
}

.client{
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
    

    @media screen and (min-width: 768px){
        flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px){
        flex-basis: calc((100% - 180px) / 6); 
    }
}

.client-link{
    @include centeredFlex(flex);
    width: 170px;
    height: 90px;
    background-color: var(--third-color);  
    border: 1px solid var(--icons-color); 
    border-radius: 4px;
    cursor: pointer;
    transition: border-color var(--timing-function);

    &:hover,
    &:focus{
    border-color: var(--second-color);
    }

    &:focus .icon-client,
    &:hover .icon-client{
    fill: var(--second-color);
    }
}

.icon-client{
    fill: var(--icons-color);
    transition: fill var(--timing-function);
}
