.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 60px;

    @media screen and (min-width: 1200px){
       flex-direction: row;
       align-items: baseline;
    }
}

.footer{
    background: var(--just-color);
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.left-footer{
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px){
    margin-right: 70px;
    align-content: flex-start;
    justify-content: flex-start;
    }
}

.footer-logo{
    font-family: 'Raleway',sans-serif;
    color: var(--second-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.logo-footer{
    font-family: 'Raleway',sans-serif;
    color: var(--third-color);
    letter-spacing: 0.03em;
}

.adress-list{
    gap: 12px;
}

.adress-list-items{
    &:not(:last-child){
        @media screen and (min-width: 480px){
        margin-bottom: 12px;
        }
        @media screen and (min-width: 1200px){
        margin-bottom: 9px;
        }
    }
    &:first-child{
        @media screen and (min-width: 1200px){
        margin-top: 20px;
        margin-bottom: 0;
        }
    }
}

.contacts-footer{
    color: var(--contacts-footer);
    font-style: normal;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.address1{
font-style: normal;
letter-spacing: 0.03em;
}

.address{
    color: var(--third-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}



