.hero{
    max-width: 1600px;
    height: 600px;
    margin: 0 auto;
    background-color:var(--just-color);
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
    url(../images/main-section.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(/images/main-section@2x.jpg);
  }
}

.hero__title{
    display: block;
    margin: auto;
    padding-bottom: 30px;
    width: 360px;
    text-align: center;
    color: var(--third-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;

    @media screen and (min-width: 1200px){
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}