.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--third-color);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
  }
  
  .mobile-menu .link {
    display: block;
    padding: 10px;
    text-decoration: none;
  }
// =====MY MENU STYLES====
  .link{
    text-decoration: none;
  }

  .mobile-menu_link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }

  .mobile-contacts{
    margin-bottom: 32px;
  }

  .mobile-contacts_link1{
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;;
    margin-bottom: 25px;
  }

  .mobile-contacts_link{
   font-size: 24px;
   line-height: 1.16;
   letter-spacing: 0.02em;
   color: var(--little-color);}

  .mobile-socials{
    display: flex;
    gap: 20px;
  }
  .mobile-socials_link{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }