@media screen and (min-width: 480px){
    .special__list{
        display: block;
    }
    
    .special__card{
        width: 100%;
        margin-bottom: 30px;
    }
    
    .special__title{
        text-align: center;
        padding-top: 10px;
        width: 270px;
        color: var(--main-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }
    
    .special__text{
        margin-top: 10px;
        color:var(--little-color);
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
    .special__icon{
        @include centeredFlex(flex);
        margin-bottom: 30px;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        background-color: var(--bg-color-team);
    }
}



@media screen and (min-width: 1200px){
    .special__list{
        display: flex;
        gap: 30px;
    }

    .special__icon,
    .special__text,
    .special__title{
        width: 270px;
    }
    
}