@mixin centeredFlex($type){
    display: $type;
    justify-content: center;
    align-items: center;
}
// .card-set{
//     display: flex;
//     flex-wrap: wrap;
//     gap: var(--indent);
// }
// .card-set_item{
// flex-basis: calc((100% - var(--indent)*(var(--items) - 1))/(var(--items)));
// }


